body{
    box-sizing: border-box;
    margin: 0;
}
nav{
    width: 98vw;
    height: 11vh;
    background-color: #eeeeee;
}
img{
    width: 6vw;
    height: 3vw;
    margin-left: 3.5vw;
    margin-top: 1vw;
}
ul{
    list-style: none;
    width: 35vw;
    height: 100%;
    text-align: right;
    float: right;
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    margin-top: 2vw;
}
footer{
    background-image: linear-gradient(to bottom right, #33ccff, #99ff66, #EA7FEC);
    width: 100vw;
    height: 650px;
    padding-top: 15vw;
}
.footerDiv{
    background-color: #660746;
    width: 65vw;
    height: 600px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px grey;
    margin-left: 15vw;
    
}
